<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>阿豆网</title>	
	#parse("/velocity/macro/bootstrap.vm")
</head>
<body>
${screen_content}
</body>
</html>